@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0.5rem 1rem;
}

.container-center {
    margin: auto;
    max-width: 500px;
}

.header-img {
    display: inline;
    width: 8%;
    height: 5%;
}

.highlight {
    background-color: yellow;
}

.error {
    background-color: lightcoral;
    border: red;
}

#typed-value {
    font-family: 'Montserrat', sans-serif;
}

button {
    display: block;
    margin-top: 1rem;
    border: #2ea44f solid;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    outline: none;
    cursor: pointer;
    background-color: #2ea44f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#quote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0em;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

#quote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

a {
    text-decoration: none;
}

.footer-header {
    padding: 1rem 8rem;
    bottom: 0%;
    text-align: center;
    position: absolute;

}